canvas[data-v-64155a78]{background-color:var(--el-color-white);margin:15px 0;border:1px solid var(--el-border-color);border-radius:8px}.btn-box[data-v-64155a78]{display:flex;justify-content:flex-end}
